body {

    margin:0;

    background:#f3f6f4;

    font-family:Arial, sans-serif;

    color:#222;

}



.admin-container {


    max-width:500px;

    margin:auto;

    padding:20px;


}



h1 {

    text-align:center;

    color:#166534;

}



.card {


    background:white;

    border-radius:18px;

    padding:20px;

    margin-bottom:18px;

    box-shadow:0 3px 10px rgba(0,0,0,0.08);


}




input,
select {


    width:100%;

    box-sizing:border-box;

    padding:15px;

    font-size:17px;

    border-radius:12px;

    border:1px solid #ddd;

    margin-bottom:12px;

    color:#222 !important;

    background:white !important;


}



button {


    width:100%;

    padding:16px;

    border:none;

    border-radius:14px;

    font-size:18px;

    cursor:pointer;


}



#loginBox button {


    background:#16a34a;

    color:white;


}




.small-title {


    color:#666;

    font-size:14px;

    margin-top:10px;


}



#selectedName {


    font-size:26px;

    font-weight:bold;

    color:#111 !important;

    margin:8px 0 20px;


}




.point-number {


    font-size:36px;

    font-weight:bold;

    color:#16a34a;


}





.type-buttons {


    display:flex;

    gap:10px;

    margin-bottom:15px;


}




.type-buttons button {


    flex:1;


}



#chargeBtn {


    background:#16a34a;

    color:white;


}



#useBtn {


    background:#ef4444;

    color:white;


}




.save-button {


    background:#166534;

    color:white;

    margin-top:10px;


}



#searchResult div {


    padding:14px;

    background:#f8fafc;

    border-radius:10px;

    margin-bottom:8px;

    color:#222 !important;

}



#result {


    margin-top:15px;

    font-weight:bold;

    text-align:center;

}
